@media (max-width: 600px) {
  #root {
    width: 210mm;
    height: 297mm;
  }
}

@media print {
  #root {
    width: 210mm;
    min-height: 297mm;
  }

  .btns {
      visibility: hidden;
  }
}

body {
  background-color: bisque;
}

#root {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

h1 {
  padding-top: 10px;
}

h2 {
  margin-bottom: 10px;
}

button {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  background-color:antiquewhite;
  margin-bottom: 10px;
}

button:hover,
button:focus {
    background-color: rgb(240, 189, 123) ;
}

button:active {
    transform: scale(0.99);
}


/* CV-Inputs */
form {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
}

.input-section {
  margin: 20px 0px;
  text-align: left;
}

.input-section > div {
  margin-left: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputs > div {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.inputs p {
  grid-column: 2;
}

form button {
  width: 200px;
  margin: 0 auto 20px;
}


/* CV-Preview */
img {
  position: absolute;
  top: -10px;
  right: 0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cv-section {
  margin: 20px 0px;
  text-align: left;
  width: 90%;
  position: relative;
}

.cv-section > h2 {
  margin-left: 15px;
}

.cv-section p {
  display: grid;
  grid-template-columns: 10rem 1fr;
  gap: 0.5rem;
  margin-left: 20px;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
